header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    margin: 10px 10px;
    padding: 10px 20px;
    
    border: 1px solid #ccc;
}

h2{
    margin: 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
    align-items: center;
    
    justify-content: center;
}

.detail{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
p{
    text-align: center;
    margin: 10px 0;
}